.list {
    background-color: white;
    border-radius: 5px;
}

.list__header {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: x-large;
}

.list__main {
    padding: 10px 30px;
    margin: 0px;
}

.list__tasks {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 10px 10px;
    max-width: 100%;
    grid-template-areas:
    "bt tx re";
    align-items: center;
}

.list__tasks--lineThrough {
    text-decoration: line-through;
}

.list__paragraph {
    padding: 10;
}

.list__removeButton {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(240, 224, 224);
    color: black;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-size: x-large;
}

.list__doneButton {
    height: 40px;
    width: 40px;
    border: none;
    background-color: hsl(14, 69%, 41%);
    color: white;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}
