html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.font {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.body {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 21%, 90%);
}

.header {
    margin-bottom: 2px;
    padding: 20px 10px;
    font-size: x-large;
    background-color: white;
    border-radius: 5px;
}